
@{
    ViewBag.Title = "Quản lý lương";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link type="text/css" href="~/Content/css/addgroupadmin.css" rel="stylesheet" />

<div class="title_line d-flex" style="margin-bottom: 0px;">
    <div class="container">
        <span class="title_line_item">
            <font color="#e56f21"><a href="#" style="color:#e56f21;font-weight: 600;">Quản lý lương</a></font>
        </span>
    </div>
</div>

<div class="k-portlet__body">
    <div class="mt-3">
        <!-- Form -->
        <div>
            <form class="form-inline shadow-lg p-3 mb-5 bg-white rounded" style="border-radius: 10px">
                <div class="content-body contain-form-input col-12">
                    <div class="form-group col-6" style="float: left">
                        <label class="label-input" for="EmpCode">Mã nhân viên</label>
                        <input class="txt-input form-control" type="text" id="txtEmpCode" name="EmpCode">
                        <br />
                        <label class="label-input" for="SalaryType">Loại lương</label>
                        <select class="form-control txt-input" name="SalaryType" id="slContractType">
                            <option value=""></option>
                            <option value="LHV">Lương học việc</option>
                            <option value="LNN">Lương nhà nước</option>
                            <option value="LCB">Lương cấp bậc</option>
                            <option value="LTC">Lương trợ cấp</option>
                            <option value="LK">Lương khác</option>                            
                        </select>
                        <br />                        
                    </div>
                    <div class="form-group col-6">
                        <label class="label-input" for="FullName">Tên nhân viên</label>
                        <input class="txt-input form-control" type="text" id="txtFullName" name="FullName">
                        <br />
                        <label class="label-input" for="Money">Số tiền lương</label>
                        <input class="txt-input form-control" type="number" id="txtMoney" name="Money">                        
                        <br />
                    </div>
                </div>
                <div style="width: 100%; margin-top: 1.5%;">
                    <input class="input-btn btn input-btn-left" id="btnAdd" type="button" value="Thêm" />                    
                    <input class="input-btn btn" id="btnRefresh" type="button" value="Làm mới" />
                </div>
            </form>
        </div>
        <!-- List -->
        <div>
            <table id="listContract" class="table shadow" style="width: 100%;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Mã nhân viên</th>
                        <th>Tên nhân viên</th>
                        <th>Loại lương</th>
                        <th>Số tiền lương</th>    
                        <th>Chức năng</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

	$(document).ready( function() {

        var renderColumns = [
            {
                data: "ID",
            },
            {
                data: "EmpCode",
            },
            {
                data: "FullName",
            },
            {
                data: "SalaryType",
            },
            {
                data: "Money",
            },            
            {
                data: "ID",
                render: function (data) {
                    return `<div class="d-inline-flex w-100">
                              <a class='DeleteSalary btn text-primary' data-id='${data}' title='Sửa nhân viên'><i class="far fa-delete"></i></a>
                            </div >`;
                }
            },
        ]

        var Contract = function() {

            this.init = function() {
                loadData();
                registerEvents();
            }

            var loadData = function () {

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetSalary", "Salary")',
                    dataType: 'json',
                    data: {} ,
                    success: function (data) {

                        console.log(data);

                        $('#listContract').DataTable({
                            'ordering': false,
                            destroy: true,
                            'searching': false,
                            lengthChange: false,
                            "bInfo": true,
                            'paging': false,
                            dom: "lti<'d-flex pagingListUser justify-content-center'p>",
                            className: 'dt-body-right',
                            data: data,
                            columns: renderColumns
                        });


                    },
                    error: function (err) {
                        console.log(err);
                    }
                });

            }

            var registerEvents = function () {
                
                // Action click edit record
                $('body').on('click', '.DeleteSalary', function (e) {
                    e.preventDefault();

                    let id = $(this).data('id');
                    
                    $.ajax({
                        type: "DELETE",
                        url: '@Url.Action("DeleteSalary", "Salary")',
                        dataType: 'json',
                        data: { id } ,
                        success: function (data) {

                            console.log(data);
                            loadData();
                            isMessageSuccess(data);
                            
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                });

                // Action click add user record
                $('body').on('click', '#btnAdd', function (e) {
                    e.preventDefault();

                    let salary = $('form').serialize();

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("InsertSalary", "Salary")',
                        dataType: 'json',
                        data: salary,
                        success: function (data) {

                            //console.log(data);

                            isMessageSuccess(data);

                            loadData();
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                });

                

                // button làm mới form
                $('body').on('click', '#btnRefresh', function (e) {
                    e.preventDefault();

                    $(this).closest('form').find("input[type=text], input[type=tel], input[type=number], input[type=date], textarea, input[type=select]").val("");

                });

            }

            function reloadData(employeeViewModel) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetContract", "Contract")',
                    dataType: 'json',
                    data: employeeViewModel ,
                    success: function (data) {

                        console.log(data);

                        $('#listContract').DataTable({
                            'ordering': false,
                            destroy: true,
                            'searching': false,
                            lengthChange: false,
                            "bInfo": true,
                            'paging': false,
                            dom: "lti<'d-flex pagingListUser justify-content-center'p>",
                            className: 'dt-body-right',
                            data: data,
                            columns: renderColumns
                        });

                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
            
        }

        var contract = new Contract();
        contract.init();

    });

</script>



