/* === Mobile devices - Portrait (320px wide) === */
.messagecl {
    padding: 0px 200px;
}
#k_footer
{
    position:absolute;
}
@media only screen and (min-width: 20em) {
    #theme-options, #header-logo {
        display: none;
    }
    #page-sidebar {
        transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        visibility: hidden;
    }
    #page-content {
        margin-left: 0;
    }
    #header-nav-right {
        display: none;
    }
}
/* === Mobile devices - Landscape (480px wide) === */

@media only screen and (min-width: 30em) {

}
/* === Tablet devices - Portrait (768px wide) === */

@media only screen and (min-width: 48em) {
    #header-nav-right {
        display: block;
    }
}
/* === Tablet devices - Landscape (900px wide) === */

@media only screen and (min-width: 56.25em) {
    #theme-options,
    #header-logo {
        display: block;
    }
    #mobile-navigation {
        display: none;
    }
    #page-sidebar {
        transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        visibility: visible;
    }
    #page-content {
        margin-left: 260px;
    }
    #page-sidebar.collapse {
        display: block;
    }
}
/* === Netbook devices (1100px wide) === */

@media only screen and (min-width: 68.75em) {

}
/* === Desktop devices (1300px wide) === */

@media only screen and (min-width: 81.25em) {


}
/* === Desktop devices (1600px wide) === */

@media only screen and (min-width: 81.25em) {

}

/* Custom */
@media only screen and (max-width: 760px) {

    
    #header-nav-right #fullscreen-btn,
    #cloud-btn {
        display: none;
    }

}

@media only screen and (max-width: 630px) {


    #page-header .user-account-btn > a.user-profile span {
        display: none;
    }
    #page-header .user-account-btn .dropdown-menu:after,
    #page-header .user-account-btn .dropdown-menu:before {
        left: 56px;
    }

}
@media only screen and (max-width: 545px) {

    #header-nav-right #chatbox-btn {
        display: none;
    }

}
@media only screen and (max-width: 520px) {

    #dashnav-btn,
    #page-header .user-account-btn > a.user-profile span {
        display: none;
    }
    .popover {
        width: 100%;
        border-radius: 0;
    }
    .box-md {
        width: auto;
    }

}
@media only screen and (max-width: 460px) {
    .respon-mobile{
    padding-left: 15px !important;
    padding-right: 15px !important;
    }
    .title_line .title_line_notice {
    padding-left: 25px !important;
    }
    .form-body-shell{
    padding-left: 15px !important;
    }
    .responsive-mobile{
    margin-left: 0% !important;
    }
    #List_Announced{
    margin-left: 8px !important;
    }
    .col-ipad {
    display: block !important;
    }
    .padt20 {
    padding-top: 0px !important;
    }
    .find-btn {
    position: initial !important; 
    margin-left: 30% !important;
    }
    .finds-btn {
    position: initial !important; 
    margin-left: 35% !important;
    margin-top: 5%;
    }
    .text-box-label{
        padding-left: 12px !important;
    }
     /*.k-portlet__body {
    margin-top: 5rem !important;
    }*/
    .text-project-information:before{
    content: "";
    position: absolute;
    width:100% !important;
    top: 25px;
    height: 2px;
    background-color: #30708F;
    }
    .fpts-header-desktop {
    position: fixed !important;
    opacity: 0;
    visibility: visible;
    }
    .Market-information:before{
    content: "";
    position: absolute;
    width: 90% !important;
    top: 52px !important;
    height: 2px;
    background-color: #30708F;
    }
    .fix-distance{
    padding: 0px !important;
    }
    .text-information:before {
    width: 99% !important
    }
    .title_line .title_line_company_name {
    padding-left: 25px !important;
    }
    /*.title_line {
     margin-top: 70px !important; 
    }*/
    .title_line .title_line_company_name {
     padding-top: 0rem !important; 
    }
    .fpts-top-mobile{
        padding-bottom: 5px;
        margin-left: 50px !important;
    }
    .fpts-header .fpts-right .fpts-language img {
        width: 28px !important;
    }
    .box-sm {
        width: auto;
    }
    .d-flex.justify-content-center {
    margin-top: 10px;
    }
   /* .fpts-header-desktop{
        opacity: 0;
    }*/
    #page-content {
        padding: 10px;
        background: #fafcfe;
    }
    #page-sidebar.collapse.in {
    -webkit-transform: translateY(0px) !important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
     min-width: 0em !important; 
     padding: 0em 0em !important;
    }
    .find-btn {
    margin-top: 0% !important;
    position: initial !important;
    }
    .form-group {
    margin-bottom: 1.6rem !important;
    }
    .table.dataTable tbody th {
    padding: 5px 20px !important;
    }
    .table.dataTable tbody td {
    padding: 5px 25px !important;
    }
    .form-control-event{
    overflow: auto !important;
    }
    .location-buttons{
    padding-left: 0%!important; 
    }
    .dataTables_wrapper table.dataTableNews.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before {
    top: 35% !important;
    }
    .fix-auto{
    width: 86% !important;
    }
    .col-md-8.form-section > div {
    padding-left: 0px !important;
    padding-right: 0rem !important;
    }
    .fpts-left{
        width: 50% !important;
    }
    .find-btn {
    right: 9.9rem !important;
    bottom: 7rem !important;
    }
     .div-img-insert{
    padding-bottom: 7px;
    }
    .img_insert-general {
    width: 69% !important;
    margin-left: 31% !important;
    }
    .insert-mobile{
    width: 90% !important;
    margin-left: 15% !important;
    }
    .avatar-preview-mobile{
    height: 200px !important;
    }
    .avatar-upload{
    margin-top: 0% !important;
    }
    .avatar-mobile{
    height: 200px !important;
    padding-left: 0% !important;
    }
    .avatar-upload .avatar-preview{
    padding-left: 21% !important;
    }
    .avatar-upload .avatar-preview > div{
    width: 77% !important;
    }
     .avatar-upload .avatar-edit input + label:after {
     top: 10px !important;
    }
    .avatar-upload .avatar-edit input + label {
     width: 34px !important;
     height: 34px !important;
    }
    .input-issued{
    width: 100% !important;
    }
    .input_file{
    margin-bottom: 5%;
    }
    .text-input{
        padding-top: 0% !important;
    }
    .btn-primary {
        height: 33px;
        border-color: transparent;
        padding: 6px 12px!important;
    }
    .set_up-button{
        padding-left:0px !important;
    }
    .div-button-mobiletop{
        padding-bottom: 0px !important;
    }
    .div-button{
        padding-bottom: 10px !important;
    }
    .left-text-table4{
        width: 30% !important;
    }
    .right-textbox-table4{
        width: 70% !important;
    }
    .text-primary {
    margin-left: 10px;
    }
    .form-control-general{
        width: 200px !important;
    }
    .set_up-add-button{
    padding-left: 0% !important;
    float: right !important;
    }
    .k-header-mobile__logo img {
    width: 31% !important;
    }
    .left-text-table2{
    width: 31% !important;
    }
    .right-textbox > img{
    height: 145px !important;
    }
    #page-title {
        padding: 10px 0 15px;
        text-align: center;
    }
    .form-change-password{
    padding-left: 0px !important;
    }
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        /*margin-bottom: 20px;*/
    }

    .content-box {
        margin-top: 0 !important;
    }

    .row.mrg20B {
        margin-bottom: 0 !important;
    }

    .timeline-box .popover {
        width: auto;
    }


    .header-buttons-separator,
    #progress-btn,
    #page-title p,
    .dashboard-box .list-grade,
    .tooltip .tooltip-arrow,
    .todo-box .btn,
    .todo-box .bs-label {
        display: none;
    }
    #header-nav-right #logout-btn,
    #notifications-btn {
        display: none;
    }
    #header-nav-left {
        float: right;
    }
    #header-nav-right {
        margin-right: 0;
        margin-left: 15px;
        float: left;
    }
    .dropdown-menu {
        position: fixed;
        left: 0 !important;
        width: 100%;
        border-radius: 0;
    }
    #page-header .user-account-btn .dropdown-menu {
        top: 65px;
    }
    #page-header .user-account-btn .dropdown-menu:after,
    #page-header .user-account-btn .dropdown-menu:before {
        left: auto;
        right: 24px;
    }
    .form-group > div {
    width: 100% !important;
    }
    /*.tab-content {
     padding-left: 5px !important; 
     padding-right: 5px !important;
    }*/
    .btn > [class*=" fa-"] {
        font-size: 1.5rem;
        margin: 0px !important;
    }
    .information-result{
        width: 98% !important;
        text-align: center;
    }
    .information-right{
        width: 1% !important;
    }
    .information-left{
        width: 1% !important;
    }
    .k-footer .k-footer__content {
    position: inherit !important;
    padding: 20px 0 30px !important;
    }
}
@media only screen and (max-width: 410px) {

    

}

@media only screen and (max-width: 1200px) {
 

    .messagecl {
        padding: 0px;
    }
    #k_footer {
        position: relative;
    }
}

@media only screen and (max-width : 600px) {
 

    .messagecl {
        padding: 0px;
    }
  
}

@media only screen and (min-width: 600px) {

    .messagecl {
        padding: 0px;
    }
 
}
